
* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
  }
  
  html {
    width: 100%;
    min-height: 100%;
  }
  
  body {
    width: inherit ;
    min-height: inherit;
    margin: 0;
    padding: 0;
  }
  