


:root {

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-light:0 2rem 5rem rgba(0,0,0 ,.06);
    --shadow-dark: 0 2rem  6rem rgba(0,0,0, .3);
    --line: 1px solid red; }
.video-container{
  position: relative;
  text-align: center;
  color: #fff;

  
}
.video-text{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}



.b-bottom{
    border-bottom: var(--line);
}

    
.b-top{
    border-top: var(--line);
}

.red-color{
    color: red;
}
  
.black-color{
    color:var(--color-grey-dark-1);
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
   
    .search__input {
      font-family: inherit;
      font-size: 15px;
      color: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 100%;
      transition: all .2s;
      margin-right: 10px; }

      .search__input:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3); }

      .search__input::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4); }

    .search__input:focus + .search__button {
      background-color: var(--color-grey-light-3); }
    .search__button {
      border: none;
      background-color: var(--color-grey-light-2); }
      .search__button:focus {
        outline: none; }
      .search__button:active {
        transform: translateY(2px); }




.card-1 {

  background-color: #fff;
  min-height: 200px;

  display: flex;
  overflow-x: auto;
}

.card-1::-webkit-scrollbar {
  display: none;
}

.card--content {

  min-width: 200px;
  width: 200px;
  margin: 5px;
}




.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#fff;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;

}

.text-image {position: relative;}
.text-image .btn {
    position: absolute;
    bottom: 10px; /*your button position*/
    right: 10px; /*your button position*/
}

.text-image .rate {
  position: absolute;
  bottom: 5px; /*your button position*/
  left: 5px; /*your button position*/
}





